extends ../base/lessonLayout

block content
      .row
        .col-xs-6.col-sm-6.col-md-2.col-lg-2
          each val,index in nodeNumber
            .row#node
              a(href='#', style='all:unset')
                .col-xs-12.col-sm-12.col-md-12.col-lg-12(style='background-color: rgb(218, 218, 218);border: 2px solid grey;text-align:center;padding:20px;')
                  p(style='font-family: Verdana') Node !{val} of 4
                  p(style='font-family: Verdana; font-weight: bold') !{topic[index]}
                
              
        .col-xs-6.col-sm-6.col-md-10.col-lg-10
          h2(style='font-family: Verdana') Chest X-Ray Essentials
           .row
             .col-xs-12.col-sm-12.col-md-12.col-lg-12
               h2 Topic
           .row
             .col-xs-5.col-sm-5.col-md-5.col-lg-5
               img(src='/images/tracks/essentials/node1image.jpg', style='width:auto;height:400px')
             .col-xs-6.col-sm-6.col-md-6.col-lg-6
               .row
                 .col-xs-12.col-sm-12.col-md-12.col-lg-12
                   h4 Question
               .row
                 .col-xs-12.col-sm-12.col-md-12.col-lg-12
                   h3(style='font-family: Verdana; color: grey')=question[0]
               .row
                 .col-xs-12.col-sm-12.col-md-12.col-lg-12
                   ol(style='list-style-type:none')
                     li 
                       a#1a(href='#') !{options[0].a}
                     li 
                       a#1b(href='#') !{options[0].b}
                     li 
                       a#1c(href='#') !{options[0].c}
                     li 
                       a#1d(href='#') !{options[0].d}
                     button#correct.btn.btn-success(type='button', style='margin-top:50px; display:none') Correct! Move on to the next question by clicking here!
                     #wrongAnswer(style='width:300px; height:40px; border: 1px solid red; margin-top:50px; text-align:center;display:none')
                       h4(style='color:red;font-weight:bolder') Incorrect! Please try again!
